.root {
-fx-background-color: #585858;
}

.button {
-fx-background-color: #DC9656;
-fx-font-weight: bold;
-fx-font-family: "Times New Roman", Times, serif;
}
.button:hover {
  -fx-background-color: #b36200;
}

.label {
-fx-font-weight: bold;
-fx-font-family: "Times New Roman", Times, serif;
}